<?xml version="1.0" encoding="utf-8"?>
<!--
    eduOAuth - OAuth 2.0 Library for eduVPN (and beyond)

    Copyright: 2017 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduOAuth.dll" Guid="{8B85976D-4CFC-4543-B583-06C75E92A6FD}">
                <File Source="eduOAuth.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRDE">
            <Component Id="eduOAuth.resources.dll.de" Guid="{F91D8B02-145A-458A-AE30-EB3541F42654}">
                <File Id="eduOAuth.resources.dll.de" Source="de\eduOAuth.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRFR">
            <Component Id="eduOAuth.resources.dll.fr" Guid="{F73E9210-7A24-486B-B416-64E053E15193}">
                <File Id="eduOAuth.resources.dll.fr" Source="fr\eduOAuth.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="eduOAuth.resources.dll.nl" Guid="{ED2AF7CA-BDA0-40B0-AE7E-55302E22D878}">
                <File Id="eduOAuth.resources.dll.nl" Source="nl\eduOAuth.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduOAuth.resources.dll.sl" Guid="{DB53F78C-785A-4006-B0D0-F43EDC33654E}">
                <File Id="eduOAuth.resources.dll.sl" Source="sl\eduOAuth.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="eduOAuth.resources.dll.uk" Guid="{26E08429-AB68-47D7-87CF-2DE0BBD0C4D0}">
                <File Id="eduOAuth.resources.dll.uk" Source="uk\eduOAuth.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduOAuth.dll">
            <ComponentGroupRef Id="eduEx.dll"/>
            <ComponentGroupRef Id="eduJSON.dll"/>

            <ComponentRef Id="eduOAuth.dll"/>
            <ComponentRef Id="eduOAuth.resources.dll.de"/>
            <ComponentRef Id="eduOAuth.resources.dll.fr"/>
            <ComponentRef Id="eduOAuth.resources.dll.nl"/>
            <ComponentRef Id="eduOAuth.resources.dll.sl"/>
            <ComponentRef Id="eduOAuth.resources.dll.uk"/>
        </ComponentGroup>
    </Fragment>
</Wix>
